*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.table-div{
  width:100%;
  /* margin: auto auto; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-div{
  display: flex;
  justify-content: center;
}